@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Protest+Strike&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

:root {
   --white: #FEFEFE;
   --smoky-black: #0E0C0A;
   --red: #c00909;
   --silver: #878686;
   --light-silver: #e2e2e2;
   --jet: #373737;
}

body {
   background-color: var(--smoky-black);
}

main {
   max-width: 640px;
   margin: 0 auto 64px;
   padding: 20px;
}

header {
   margin-top: 64px;
   padding-bottom: 24px;
   border-bottom: 1px solid var(--jet);
}

header h1 {
   margin-top: 24px;
   font-size: 30px;
   color: var(--silver);
}

main #acertos {
   text-align: center;
   background-color: var(--red);
   color: var(--white);
   width: 100%;
   padding: 12px;

   position: fixed;
   bottom: 0;
   left: 0;
}

input {
   all: unset;
   border: 1px solid #424242;
   background-color: var(--jet);
   width: 16px;
   height: 16px;
   
   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 50%;
   flex-shrink: 0;
}

input:checked {
   border: 1px solid var(--red);
}

input:checked::before {
   content: "";
   width: 8px;
   height: 8px;
   background-color: var(--red);
   border-radius: 50%;
}

#quiz {
   counter-reset: number-item;
}

.quiz-item {
   color: var(--light-silver);
   margin-top: 24px;
   background-color: #2e2e2e7b;
   border: 1px solid #2e2e2e;
   border-radius: 10px;

   overflow: hidden;
}

.quiz-item h3 {
   padding: 16px 20px;
   background-color: var(--jet);

   display: flex;
   align-items: center;
   gap: 12px;
}

.quiz-item h3:before {
   counter-increment: number-item;
   content: counter(number-item);
   background-color: #505050;
   width: 28px;
   height: 28px;
   font-size: 13px;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

.quiz-item dl {
   padding: 20px 24px;
   display: grid;
   gap: 10px;
}

.quiz-item dl dt {
   font-size: 14px;
   line-height: 24px;

   display: flex;
   align-items: center;
   gap: 8px;
}