@charset "UTF-8";

/* geral: */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #456eba;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    color: #ffffff;
    text-shadow: 3px 3px 5px #1c335c;
    padding: 10px;
}

/* para retrato: */
@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
    }
}

/* para paisagem: */
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
    }
}