@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
   background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
}

body, input, button {
   font-family: 'VT323', monospace;
   font-size: 22px;
}

#game {
   background: #ffffff;
   width: 428px;
   height: 274px;
   margin: auto;
   padding: 48px 64px 64px;
   box-shadow: 0px 2px 4px 0px #0000001a;
   border-radius: 8px;
}