* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
}

body {
   font-family: 'DM Sans', sans-serif;
   color: #34355B;
   background: linear-gradient(45deg,#580404, #040453);
   animation: bg-animation 10s ease infinite;
   background-size: 200% 300%;
}

main {
   width: min(42.8rem, 90%);
   margin: 11rem auto 0;
}

.screen1 {
   padding: 4rem 6.4rem 6.4rem;
   background: #ffffffd0;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 0 2rem 5rem 0 #000000cc;
}

.screen1 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.4rem;
   margin-bottom: 1.4rem;
}

.screen1 p {
   font-size: 1.5rem;
   font-weight: 500;
   width: 19.2rem;
   margin-bottom: 2rem;
}

.screen1 img {
   width: 20rem;
}

#discover-team {
   border: none;
   background-color: transparent;
   border-radius: 50%;
   cursor: pointer;
}

#discover-team:hover {
   animation: shake 0.1s alternate infinite;
}

.screen2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.7rem;
   background: #ffffffd0;
   padding: 4.8rem 6.4rem;
   box-shadow: 0 2rem 5rem 0 #000000cc;
   border-radius: 5px;
}

.screen2 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.4rem;
}

.screen2 p {
   font-size: 1.8rem;
   background: #E4EDF1;
   box-shadow: 2px 2px 2px 0px #55555580;
   padding: 1rem;
   border-radius: 5px;

   animation: appear 2s;
}

.screen2 img {
   width: 20rem;
}

#draw-another {
   font-family: 'DM Sans', sans-serif;
   font-weight: 600;
   font-size: 1.5rem;
   width: 17.4rem;
   padding: 1.6rem;
   border: none;
   border-radius: 4px;
   background: #e46314;
   color: #FFFFFF;
   cursor: pointer;
}

#draw-another:hover {
   background-color: #bb510f;
}

.hide {
   display: none;
}

@keyframes shake {
   0% {
      transform: translate(3px, 3px) rotate(3deg); 
   }

   50% {
      transform: translate(0px, -3px);
   }
   
   100% {
      transform: translate(-3px, 0px) rotate(-3deg); 
   }
} 

@keyframes bg-animation {
   0% {
      background-position: 90% 0%;
   }

   50% {
      background-position: 50% 50%;
   }

   100% {
      background-position: 90% 0%;
   }
}

@keyframes appear {
   0% {
      transform: translateY(90px) scale(0.4);
   }
}