* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'DM Sans', sans-serif;
   color: #34355B;
   background: linear-gradient(45deg,#580404, #040453);
   animation: bg-animation 8s linear infinite;
   background-size: 100% 200%;
}

.screen1 {
   padding: 40px 64px 64px;
   width: 428px;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   margin: 0 auto;
   border-radius: 5px;
   box-shadow: 0px 20px 50px 0px #000000cc;
}

.screen1 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   margin-bottom: 14px;
}

.screen1 p {
   font-size: 15px;
   font-weight: 500;
   width: 192px;
   margin-bottom: 20px;
}

.screen1 img {
   width: 200px;
}

#discover-team {
   border: none;
   background-color: transparent;
   border-radius: 50%;
   cursor: pointer;
   
}

.screen2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 17px;
   background: #FFFFFF;
   width: 428px;
   padding: 48px 64px;
   box-shadow: 0px 20px 50px 0px #000000cc;
   border-radius: 5px;
}

.screen2 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
}

.screen2 p {
   background: #E4EDF1;
   box-shadow: 2px 2px 2px 0px #55555580;
   padding: 10px;
   border-radius: 5px;
}

.screen2 img {
   width: 200px;
}

#draw-another {
   font-family: 'DM Sans', sans-serif;
   font-weight: 600;
   font-size: 15px;
   width: 174px;
   padding: 16px;
   border: none;
   border-radius: 4px;
   background: #e46314;
   color: #FFFFFF;
   cursor: pointer
}

@keyframes shake {

} 

@keyframes bg-animation {
   0% {
      background-position: 80% 0%;
   }

   50% {
      background-position: 50% 50%;
   }

   100% {
      background-position: 80% 0%;
   }
}